<!DOCTYPE html>
<html>
<head>
    <title>My Meteo App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: #F3CA52;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        {% block style %}{% endblock style %}
    </style>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>