{% extends 'base_layout.html' %}

{%block style%}
.loginForm {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
    width: 30vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .loginForm h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .loginForm form {
    display: flex;
    flex-direction: column;
  }
  
  .loginForm form input[type="text"],
  .loginForm form input[type="email"],
  .loginForm form input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .loginForm form button[type="submit"] {
    background-color: #337ab7;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .loginForm form button[type="submit"]:hover {
    background-color: #286090;
  }
  
  .loginForm ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .loginForm ul li {
    text-align: center;
  }
  
  .loginForm ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .loginForm ul li a button {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
  }
  
  .loginForm ul li a button:hover {
    color: #286090;
  }
  
  @media (max-width: 768px) {
    .loginForm {
      padding: 15px;
      width:88%;
    }
    
    .loginForm form input[type="text"],
    .loginForm form input[type="password"] {
      font-size: 0.9rem;
    }
  }
  
{%endblock%}

{% block content %}
<div class="loginForm">
    <h3>Registo</h3>
    
    <form action="{% url 'register' %}" method="post">
      {% csrf_token %}
      <input type="text" name="username" placeholder="O seu username..">
      <input type="text" name="first_name" placeholder="O seu nome..">
      <input type="text" name="last_name" placeholder="O seu apelido..">
      <input type="email" name="email" placeholder="O seu email..">
      <input type="password" name="password" placeholder="Defina a sua password..">
      <input type="submit" value="Criar">
    </form> 
    
    <a href="{% url 'login' %}">Cancelar</a>
  </div>
{% endblock %}