{%extends 'base_layout.html' %}

{%block style%}

{%endblock%}

{%block content%}

<div class="content-container">
    <!-- Interests Section -->
    <div class="section" id="interests">
        <h2>Interesses</h2>
        <p>Tenho uma paixão por tecnologia e inovação. Nos meus tempos livres, gosto de explorar novas linguagens de
            programação, desenvolver projetos de software e manter-me atualizado com as últimas tendências em
            tecnologia. Além disso, tenho interesse por música, cinema e viagens, que me permitem relaxar e encontrar
            inspiração para os meus projetos.</p>
    </div>

    <div style="display: flex; flex-direction: row;">


        <!-- Skills Section -->
        <div class="section" id="skills">
            <h2>Aptidões e Competências</h2>
            <ul class="skills-list">
                <li>Desenvolvimento Web (HTML, CSS, JavaScript, Django)</li>
                <li>Programação (Python, Java, C++)</li>
                <li>Gestão de Projetos (Metodologias Ágeis, Scrum)</li>
                <li>Base de Dados (SQL, NoSQL)</li>
                <li>Design Responsivo e UX/UI</li>
                <li>Trabalho em Equipa e Comunicação</li>
                <li>Resolução de Problemas e Pensamento Crítico</li>
            </ul>
        </div>

        <!-- Experience Section -->
        <div class="section" id="experience">
            <h2>Experiência</h2>
            <ul class="experience-list">
                <li>Desenvolvedor Web na Empresa XYZ (2022 - Presente): Responsável pelo desenvolvimento de
                    funcionalidades front-end e back-end, trabalhando em estreita colaboração com a equipa de design
                    para criar interfaces de utilizador intuitivas e eficazes.</li>
                <li>Estagiário em Desenvolvimento de Software na Empresa ABC (2021 - 2022): Participação no
                    desenvolvimento de aplicações internas, com foco em otimização de performance e implementação de
                    novas funcionalidades.</li>
                <li>Projeto Pessoal - Sistema de Gestão de Tarefas: Desenvolvimento de uma aplicação web para gestão de
                    tarefas pessoais e de equipa, utilizando Django e JavaScript.</li>
            </ul>
        </div>
    </div>
</div>

{%endblock%}