{% extends 'layout_filmes.html' %}

{% block content %}
    {% for genero, filmes in filmes_por_genero.items %}
        <h2>{{ genero }}</h2>
        <ul>
            {% for filme in filmes %}
                <li>
                    <a href="{% url 'filmes:filme_detail' filme.id %}">{{ filme.titulo }}</a>
                        <strong>Atores:</strong>
                            {% for ator in filme.atores.all %}
                                {{ ator.nome }}.
                            {% endfor %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
